/* Sources for CSS:  */
/* https://www.w3.org/wiki/CSS/Properties/color/keywords*/
/* https://www.w3schools.com/css/css3_images.asp*/
/* https://www.w3schools.com/cssref/css3_pr_filter.php*/
/* https://www.w3schools.com/css/css_website_layout.asp */
/* https://www.w3schools.com/css/css3_gradients.asp */
/* https://www.w3schools.com/css/css_border.asp */
/* https://www.w3schools.com/css/css_border_sides.asp*/
/* https://www.w3.org/Style/Examples/007/fonts.en.html */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout */

p {
    font-family: "Courier", monospace;
    color: black;
}

a {
    font-family: "Courier", monospace;
}

h1, h2, h3, h4, h5 {
    font-family: "DejaVu Sans Mono", monospace;
    font-weight: bold;
}

.caption {
    text-align: center;
    font-family: "DejaVu Sans Mono", monospace;
    text-decoration: underline;
    font-weight: normal;
}

img {
    filter: sepia(100%);
}


body {
    background-color: khaki;
}
